@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0px;
}
body {
  background-color: #0c1027;
  width: 100vw;
  height: auto;
  font-family: "Outfit", sans-serif;
  color: white;
}
/* ---------------------------- designing the "NAV BAR" adding elements -------- */
nav {
  background-color: rgba(12, 16, 39, 0.5);
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#left-align {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0px;
  margin: 0vh 8vw;
}
#left-align h1 {
  margin: 0vh 0vw;
  margin-top: -7px;
  padding: 0px;
  font-size: 40px;
  font-weight: 500;
}
#left-align h2 {
  margin: 0vh 5vw;
  font-size: 18px;
  font-weight: 300;
}
#right-align {
  margin: 0vh 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#right-align input {
  width: 20vw;
  border: none;
  border-radius: 10px;
  padding: 9px 8px;
  font-size: 15px;
  background-color: #0b1753;
  color: grey;
}
#right-align i {
  margin: 0vh 3vw;
  font-size: 20px;
  transition: color 0.5s;
}
#right-align i:hover {
  color: #1ed760;
}
#right-align img {
  height: 60%;
  border: none;
  border-radius: 50%;
}

/* ----------------------setting up the CONTENT div ---------------------------------- */
#content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

/* ---------------------------layout of the MAIN section -----------------------------*/
main {
  width: 55%;
  height: 200vh;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
main section > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content-heading {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 25px;
}
.display-pic {
  height: 8vw;
  border: none;
  border-radius: 50%;
  transition: box-shadow 0.5s;
}

/* --------------------------- CAROUSEL ------------------------*/

#carousel img {
  border: none;
  border-radius: 15px;
  box-shadow: 1px 1px 8px grey;
}

/* ------------------------  LATEST RELEASES ------------------- */
#latest-songs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.song-thumb {
  width: 45%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
  margin-right: 2%;
}
.song-thumb img {
  margin: 0px 12px;
  height: 12vh;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 8px grey;
  transition: box-shadow 0.5s;
}
.song-thumb img:hover {
  box-shadow: 1px 1px 8px white;
}
.song-thumb h5 {
  font-size: 0.9rem;
  font-weight: 300;
  color: grey;
}
.song-thumb h4 {
  font-size: 2rem;
  font-weight: 200;
}
#timing {
  margin-left: auto;
}

/* -------------------------- POPULAR ARTISTS ------------------- */
.pic-container img:hover {
  box-shadow: 1px 1px 8px white;
}

/* --------------------------- ASIDE SECTION ----------------------------- */
aside {
  display: flex;
  flex-direction: column;
  width: 25%;
}
#aside-section h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 5vh;
}
.song-queue {
  display: flex;
  flex-direction: row;
  padding: 0px 5px;
  align-items: center;
  margin: 1.5vh 0vw;
  width: 90%;
  min-width: 200px;
}
.song-queue img {
  margin: 0px 12px;
  height: 6vh;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 8px grey;
  transition: height 0.5s, box-shadow 0.5s;
}
.song-queue img:hover {
  height: 8vh;
  box-shadow: 1px 1px 8px white;
}
.song-queue > h5 {
  font-size: 0.8rem;
  font-weight: 300;
  color: grey;
}
.song-queue i {
  margin-left: auto;
  font-size: 13px;
  color: grey;
}
.song-name {
  margin: 5px;
}
.song-name h4 {
  font-size: 1rem;
  font-weight: 400;
}
.song-name h5 {
  font-weight: 300;
  color: grey;
}
#first-song * {
  color: #1ed760;
}

/* -------------------------------------- Styling MUSIC PLAYER --------------------- */
#music-player {
  width: 100%;
  height: 12vh;
  background-color: #0b1753;
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#music-player i {
  color: rgb(167, 166, 166);
  transition: color 0.5s;
}
#music-player i:hover {
  color: #1ed760;
}
#song-info {
  width: 17%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#song-info img {
  height: 7vh;
  margin: 0px 5px;
  box-shadow: 1px 1px 8px grey;
}
#song-info i {
  margin-left: auto;
  font-size: 14px;
  color: #1ed760;
}
#music-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.play-bttn {
  font-size: 45px;
  transition: color 0.5s;
}
.play-bttn:hover {
  color: #1ed760;
}
.forward-backward {
  font-size: 20px;
  margin: 0px 30px;
}
.random-repeat {
  font-size: 13px;
}
#volume-control {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#volume-control i {
  margin: 0px 1vw;
  font-size: 20px;
}
