* {
  margin: 0px;
}
body {
  background-color: #1f1f1f;
  width: 100vw;
  height: auto;
}
/* ------------ Nav Bar -------- */
nav {
  background-color: rgba(10, 7, 7, 0.6);
  width: 100%;
  height: 10vh;
}
